body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    background-color: #001215;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
}
h1{
    font-size: 5vh;
    color: #ffffff;
}
#loginbox{
    background-color: #008AAD;
    display: flex;
    padding: 1.5vw;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 30vw;
    border-radius: 1vw;
}
#inputcontainer{
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}
.formelements{
    height:5vh;
    width:30vw;
    margin:15px;
}
#submit{
    border-width: 0px;
    border-radius: 0.5vw;
    background-color: #009931;
    color: #ffffff;
}