body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    background-color: #001215;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    text-align: center;
    height: 100vh;
    width: 100vw;
}
h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 5vh;
    color: #ffffff;
}
#loginbox{
    background-color: #008AAD;
    display: flex;
    padding: 1.5vw;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 30vw;
    border-radius: 1vw;
}
#inputcontainer{
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}
.formelements{
    height:5vh;
    width:30vw;
    margin:15px;
    color:#000000;
}
#submit{
    font-family: 'Josefin Sans', sans-serif;
    border-width: 0px;
    border-radius: 0.5vw;
    background-color: #009931;
    color: #ffffff;
}
.error{
    color: #ff0000;
    font-family: 'Josefin Sans', sans-serif;
}
table, tr, th, td{
    text-align: left;
    border-width: 1px;
    border-style: solid;
    border-color:#00ced1;
    padding:5px;
}
table{
    margin-top:2vh;
    margin-bottom: 2vh;
    background-color: #ffffff;
    color: #001215;
    width:100%;
}
th{
    background-color: #0a6a7a;
    color: #ffffff;
}
#admin-header{
    height: 100%;
    width:100%;
    display: inline-block;
    background-color: #009931;
    text-align: left;
    padding: 2vh;
}
.add{
    border-width: 0px;
    background-color: #009931;
    color: #ffffff;
    padding: 15px;
}
#modalheader{
    background-color: #0a6a7a;
    padding: 2vh;
}
.modal-header, .modal-body, .modal-footer{
    background-color: #001215;
}
.logout{
    width:10%;
    transition: 0.5s;
    float:right;
    background-color: #005e8a;
    border-width: 0px;
}
.logout:hover{
    transition:0.5s;
    background-color: #ac0000;
}
.header-container{
    margin-top: 2vh;
    margin-bottom: 2vh;
    display:flex;
    justify-content: space-between;
    background-color:#009931;
}
.btn{
    margin-top:2vh;
}
.btn-container{
    display: inline-block;
}
.dl{
    background-color: #900C3F ;
}
.btn-lg, .btn-lg:hover, .btn-info, .btn-info:hover{
    transition-duration: 0.5s;
}
.btn-lg:hover{
    color:#ffffff;
}
.dl:hover{
    background-color: #4B021E;
}
.btn-info:hover{
    background-color: #016B78
}
a, a:link, a:visited, a:hover,a:active{
    color: #ffffff;
}